    body, h1, h2, h3, h4, h5, h6, address, form, li, ul, img{
        margin: 0;
        padding: 0;

        }

        body{
            font-family: Century Gothic;
            background-color: #CBE9E6;
        }

        #menu{
            min-height: 60px;
        }

        #content,#intro,#aboutsection{
            display: inline-block;
        }

        #maincontent{
            min-height: 400px;
            margin-top: 3%;
            padding: 1%;
        }
        #footer{
            min-height: 50px;
            margin-top: 7%;
        }
            .menu_ul {
            margin-top: 1%;
            list-style-type: none;
            overflow: hidden;

        }
        
        .menu_li {
            float: right;
            padding-right: 18px;
            border: none;
            padding-top: 8px;
            padding-bottom: 4px;
            margin-top: 1%;

        }

         .menu_li_logo {
            float: left;
            padding-left: 18px;
            border: none;
            padding-top: 8px;
            padding-bottom: 4px;
            margin-top: 1%;
        }

         .menu_li_logo a{
            font-weight: bold;
            text-decoration: none;
            color: black;
        }

        .menu_li_logo a:hover{
            color: #DF815B;
        }

        .menu_li a{
            
            text-decoration: none;
            color:#DD744D;
        }

        .menu_li a:hover{
            text-decoration: none;
            color: #ECB4BF;
        }

        #content{
            width: 100%;
        }

        #intro{
            width: 100%;
            
            text-align: center; 
        }

        #aboutsection{
            background-color: #FD8380;
            margin-top: 10%;
            min-height: 20vh;
            margin-bottom: 10%;
            min-height: 500px;  
        }

         #aboutcontent{
            margin-top: 5%;
            margin-left:3%;
            font-size: 2vh;
        }

        #abouttitle{
            margin-top: 5%;
            margin-left:3%;
        }



        .sectiontitle{
            font-weight: bold;
            font-size: 5vh;
            margin-top: 5%;
        }

        #hobbiessection{
            background-color: #D3F5F6;
            min-height: 500px;
        }


        #hobbiestitle{
            text-align: center;
        }

         .clear:after{
            content: ".";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }

        #aboutimage{
            height:500px;
            width: 35%;
            background-image: url(../images/Tulips.jpg);
            float: right;
            margin-left: 3%;
        }

        .name span{
            font-size: 50px;
            color: dimgray;
        }

        .skills span{
            background-color: aquamarine;
            padding-left: 20px;
            padding-right: 20px;
            border-radius: 20px;
        }
        .mainimage{
            width: 200px;
            margin-top: 50px;
        }
        .explore{
            margin-top: 3%;
        }
        #explore span{
            color: #DF815B;
            font-size: 5vh;
            cursor: pointer;
        }
        #explore span:hover{
            color: aquamarine;
        }




        @viewport{
            zoom: 1.0;
            width: extend-to-zoom;
        }
        @-ms-viewport{
            width: extend-to-zoom;
            zoom: 1.0;
        }
        @media screen and (max-width: 600px), sreen\0{
        
            body a{
                font-size: 30px;
            }
            .name span{
                font-size: 35px;
            }

             .menu_li_logo a{
                font-size: 2vh;
            }

            .menu_li_logo a:hover{
                color: #DF815B;
            }

            .menu_li a{
                font-size: 2vh;
            }


            .menu_li a:hover{
                color: #ECB4BF;
            }

            #explore {
                display: none;
            }

       
          
            /*uncomment to hide the images*/
            /* #content img{
                display: none;
            } */
        }
